@import "tailwindcss";
<<<<<<< HEAD
=======
 
/* @layer base {
  :root {
    --blue-500: rgb(59 130 246);
  }
}

body {
  margin: 0;
  padding: 0;
} */
>>>>>>> 9ce474f343981eb4edef645f0c1d309613bfcf09
